#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon Jun 27 16:07:40 2022

@author: aubouinb
"""
<!DOCTYPE html>
<html>
<head>
    <title>Bokeh App with Login</title>
    <style>
    *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        height: 100%;
    }
    body{
        font-family: 'Segoe UI', sans-serif;;
        font-size: 1rem;
        line-height: 1.6;
        height: 100%;
    }
    .wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fafafa;
    }
    .login-form{
        width: 350px;
        margin: 0 auto;
        border: 1px solid #ddd;
        padding: 2rem;
        background: #ffffff;
    }
    .form-input{
        background: #fafafa;
        border: 1px solid #eeeeee;
        padding: 12px;
        width: 100%;
    }
    .form-group{
        margin-bottom: 1rem;
    }
    .form-button{
        background: #69d2e7;
        border: 1px solid #ddd;
        color: #ffffff;
        padding: 10px;
        width: 100%;
        text-transform: uppercase;
    }
    .form-button:hover{
        background: #69c8e7;
    }
    .form-header{
        text-align: center;
        margin-bottom : 2rem;
    }
    .form-footer{
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="wrap">
        <form class="login-form" action="/vitaldb/login" method="post">
            {% module xsrf_form_html() %}
            <div class="form-header">
                <h3><img src="https://static.bokeh.org/logos/logotype.svg"></h3>
                <p> Login to access your application</p>
            </div>
            <!--Email Input-->
            <div class="form-group">
                <input name="username" type="text" class="form-input" autocapitalize="off" autocorrect="off" placeholder="username">
            </div>
            <!--Password Input-->
            <div class="form-group">
                <input name="password" type="password" class="form-input" placeholder="password">
            </div>
            <!--Login Button-->
            <div class="form-group">
                <button class="form-button" type="submit">Login</button>
            </div>
            <span class="errormessage">{{errormessage}}</span>
            <div><small>
            <p>This give access to the visualisation application of Vital-DB database. </p>

            <p> <a href="bob.aubouin-pairault@gipsa-lab.fr"> Contact mail</a></p>
            </small></div>
        </form>
    </div>
</body>
</html>